@charset "UTF-8";
/* CSS Document */

body{
	max-width:1000px;
	margin:auto;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #EFED33;
	
}
h1{font-size:70px;
text-decoration:underline;

}
h2{
	text-align:left;
	text-decoration:underline;
	font-style:oblique;
		
}
ul {
width: 46%;
float: left;
}
ol{
	width:46%;
	float: left;
	}